body {
    background: rgba(0, 0, 0, 0.836);
    color: white;
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.img-telegram {
    height: 40px;
    width: 40px;
    border-radius: 8px;
    transition: transform 0.6s ease-in-out;
}
.img-telegram:hover {
    transform: scale(1.1);
}
main {
    height: 100vh;
    margin: 0;
}

.section-main {
    padding: 20px;
}

.telegram-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.form-telegram {
    height: auto;
    min-width: 300px;
    background: rgb(42, 60, 68);

}

input {
    padding: 5px;
    font-size: 16px;
    font-family: "Tenor Sans", sans-serif;
    
}

.form-telegram, input {
    border: 2px solid rgb(47, 172, 255);
    border-radius: 4px;
}

button {
    padding: 5px;
    font-size: 16px;
    font-family: "Tenor Sans", sans-serif;
}

.submit-tg {
    border: 2px solid rgb(0, 140, 255);
    border-radius: 4px;
    background: rgb(57, 120, 192);
    color: white;
    
}

.btn-toggle {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    gap: 10px;
}

p {
    font-size: 16px;
}

.none {
    display: none !important;
}

.confirm {
    border: 2px solid rgb(138, 0, 0);
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.582);
    padding: 20px;
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
}

.comfirm-btn {
    padding: 5px;
    width: 140px;
    border: 2px solid rgb(0, 255, 21);
    border-radius: 6px;
    background: rgb(0, 201, 0);
    transition: transform 0.6s ease-in-out;
}
.comfirm-btn:hover {
    transform: scale(1.1);
}